.header{
    margin-top: 20px;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 120px 1fr 500px;
    grid-template-rows: repeat(2, minmax(0px, max-content));
    border-bottom: 1px solid #ef1749;
    text-align:center;
}

@media all and (max-width: 780px){
    .header{
        display: none;
    }
}
