*{
    box-sizing: border-box;
    padding: 0;
    font-family: "Arial";
}
body{
    align-content: center;
}
.container{
    margin: 0 auto;
    display: grid;
    position: relative;
    max-width: 1200px;
    grid-template-columns:  290px minmax(290px , 900px);
    grid-template-rows: repeat(auto-fill, minmax(100px, max-content));
    grid-gap: 10px;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0px;
}