.streamer{
  width: 290px;
  height: 60px;
  border-radius: 2px;
  color: 	#404040;
  display: flex;
  align-items: center;
}
.streamer:hover{
  background-color: orange;
}

.streamer > .username{
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  text-overflow: ellipsis;
}

.streamer > .username:hover{
  color: blue;
}

.streamer > img{
  margin-left: 5px;
}

.streamer > .blinking{
  animation: blinkingText 1.2s infinite;
  font-weight:bold;
  margin-left: 100px;
  margin-right: 10px;
}

.streamer > .watchers{
  font-weight: bold;
  margin-left: auto;
  margin-right: 10px;
}

@keyframes blinkingText{
  0%{     color: #ff0000;    }
  49%{    color: #ff0000; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: #ff0000;    }
}

@media all and (max-width: 780px){
  .streamer > .watchers{
    display: none;
  }
  .streamer > .blinking{
    display: none;
  }
  .streamer > .username{
    display: none;
  }
}